@charset "utf-8";

/* 基本レイアウト ここから↓ */
@import url(common.css);

#main h1 {
margin: 0 0 30px 0;
padding: 35px 0 35px 65px;
background-image: url(../images/bg_h1_head.png), url(../images/bg_h1_bottom.png);
background-repeat: no-repeat, no-repeat;
background-position: left top, left bottom;
font-size: 156.25%;
}

/* 基本レイアウト ここまで↑ */

/* トップページ ここから↓ */

/* トップページ ここまで↑ */

/* 「結婚式場のコンセプト」ページ ここから↓ */

/* 「結婚式場のコンセプト」ページ ここまで↑ */

/* 「プランのご案内」ページ ここから↓ */

/* 「プランのご案内」ページ ここまで↑ */

/* 「ブライダルフェア」ページ ここから↓ */

/* 「ブライダルフェア」ページ ここまで↑ */

/* 「お問い合わせ」ページ ここから↓ */
input[type="text"] {
	width: 200px;	
}

input[type="email"] {
	width: 300px;
}

/* 「お問い合わせ」ページ ここまで↑ */
